<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jiafan.dao.ProductTypeDao">

	<resultMap type="ProductType" id="proTypeMap">
		<id column="id" property="id"/>
		<result column="product_name" property="productName"/>

	</resultMap>
	
	
	<select id="selectAll" resultMap="proTypeMap">
			select * from PRODUCT_TYPE
	</select>
	
	<select id="FindById" resultMap="proTypeMap" parameterType="ProductType">
		select * from PRODUCT_TYPE where id = #{id}
	</select>
	
	<insert id="InsertModel" parameterType="ProductType">
			INSERT into PRODUCT_TYPE (product_name) values (#{productName})
	</insert>
	
	<update id="updateById" parameterType="ProductType">
			update PRODUCT_TYPE set product_name=#{productName} where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="ProductType">
			delete from PRODUCT_TYPE where id = #{id} 
	</delete>
	
	
	</mapper>